<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="globalSettings">
      <section name="modes" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="commVariables" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="assetVariables" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="cartApplicationsList" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="userGridMeshTransportUDPVariables" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="graphicsSettings">
      <section name="graphicsWindowTarget" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="viewSettings">
      <section name="camera" type="System.Configuration.NameValueSectionHandler"/>
      <section name="viewport" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="localFileSettings">
      <section name="localDataFileInterrop" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="loadAndViewModel" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <globalSettings>
    <modes>
      <add key="debugMode" value="true"/>
      <add key="graphicsLightMode" value="false"/>
      <add key="runAsMinimized" value="false"/>
    </modes>
    <commVariables>
      <add key="udp_transmit_ip" value="224.1.1.1"/>
      <!-- <add key="udp_transmit_ip" value="192.168.1.22"/> -->
      <add key="udp_transmit_port1" value="8061"/>
      <add key="udp_transmit_port2" value="8062"/>
      <add key="udp_buffersize" value="51200"/>
      <add key="validateLocalIP" value="10.15.102"/>
    </commVariables>
    <assetVariables>
      <add key="sharedAssetPath" value="..//resources//"/>
    </assetVariables>
    <cartApplicationsList>
      <!-- naming convention used by all wall applications: server and clients -->
      <add key="numberOfApps" value="3"/>
      <add key="myAppID" value="0"/>
      <add key="0" value="audioControl0"/>
      <add key="1" value="audioControl1"/>
      <add key="2" value="audioControl2"/>
    </cartApplicationsList>
    <userGridMeshTransportUDPVariables>
      <!-- special comm channel (unique port) for depth data transmit -->
      <add key="depthData_transmit_port" value="5309"/>
      <!--Samba port is 445 (works) -->
      <add key="activateDataTransmission" value="false"/>
    </userGridMeshTransportUDPVariables>
  </globalSettings>
  <graphicsSettings>
    <graphicsWindowTarget>
      <add key="x" value="0"/>
      <add key="y" value="0"/>
      <add key="w" value="1600"/>
      <add key="h" value="1200"/>
      <add key="globalScale" value="1.0"/>
      <!-- scrunch OpenGl elements display down to fit on develepor PC screen (2= half size) -->
      <add key="globalPixelScale" value="1.0"/>
      <!-- 27" = 1280, 1280/686 = 1.866 -->
      <!-- when mapping directly to screen: number of pixels divided by physical width of display (mm) | 1.32 = assumes that the projection is 38" wide | 0.64 = 93" wide projection | 25.25" (591mm) wide @ 1920 = 3.25 -->
    </graphicsWindowTarget>
  </graphicsSettings>
  <viewSettings>
    <camera>
      <add key="fov" value="47.0"/>
    </camera>
    <viewport>
      <add key="x" value="50"/>
      <add key="y" value="50"/>
      <add key="width" value="1920"/>
      <add key="height" value="1400"/>
      <add key="near" value="1"/>
      <add key="far" value="95000"/>
    </viewport>
  </viewSettings>
  <localFileSettings>
    <localDataFileInterrop>
      <add key="doEnableFileInterrop" value ="false" />
      <add key="setupForRecord" value ="false" />
      <add key="setupForPlayback" value ="false" />
      <add key="localDataFileName" value ="recordedData\walkby4.xml" />
    </localDataFileInterrop>
    <loadAndViewModel>
      <add key="doLoadOBJFileIntoViewer" value="false"/>
      <add key="modelPath" value="Models/display.obj"/>
    </loadAndViewModel>
  </localFileSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
